<!DOCTYPE html>
<div id="group-container">
  <h1>GROUPS</h1>
  <!-- <div id="group-grid-wrapper"> -->
    <div id="group-grid">
      <div class="group-card">
	  <p>david</p>
	  <p>brad</p>
	  <p>john</p>
	  <p>cesar</p>
      </div>
      <div class="group-card">
	  <p>david</p>
	  <p>brad</p>
	  <p>john</p>
	  <p>cesar</p>
      </div>
      <div class="group-card">
	  <p>david</p>
	  <p>brad</p>
	  <p>john</p>
	  <p>cesar</p>
      </div>
      <div class="group-card">
	  <p>david</p>
	  <p>brad</p>
	  <p>john</p>
	  <p>cesar</p>
      </div>
      <div class="group-card">
	  <p>david</p>
	  <p>brad</p>
	  <p>john</p>
	  <p>cesar</p>
      </div>
      <div class="group-card">
	  <p>david</p>
	  <p>brad</p>
	  <p>john</p>
	  <p>cesar</p>
      </div>
      <div class="group-card">
	  <p>david</p>
	  <p>brad</p>
	  <p>john</p>
	  <p>cesar</p>
      </div>
      <div class="group-card">
	  <p>david</p>
	  <p>brad</p>
	  <p>john</p>
	  <p>cesar</p>
      </div>
      <div class="group-card">
	  <p>david</p>
	  <p>brad</p>
	  <p>john</p>
	  <p>cesar</p>
      </div>
    </div>
    <!-- </div> -->
</div>
